@import url('oswald/style.css');

html, body {
    margin: 0;
    background-color: rgba(24, 24, 24, 1);
    font-family: 'Oswald', sans-serif;
}

#content .title {
    height: 20%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    border-bottom: 1px solid rgba(68, 68, 68, 0.8);
}

#content .notes {
    height: 80%;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

#content .notes a {
    width: 80%;
    margin: 0 auto;
    padding: 13px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-decoration: none;
    display: block;
    border-top: 1px solid rgba(33, 33, 33, 1);
    box-sizing: border-box;
}

#content .notes a:first-child {
    border-top: none;
}